li {
  list-style: none;
}

.libraries-container {
  max-width: 1140px;
  margin: auto;
}
.libraries-view-control {
  display: flex;
  padding-top: 10px;
}

.libraries-container .view-selector {
  margin-left: auto;
  background-color: transparent;
  background-position: 0.875rem center;
  background-repeat: no-repeat;
  font-size: 0.875rem;
  padding: 0 10px;
  border: 0;
  width: 5rem;
  height: 2rem;
  border-radius: 1.5rem;
  text-align: right;
}

.libraries-container .view-selector:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.libraries-container .view-selector:focus {
  outline: 0;
  padding: 0 8px;
  background-position: 0.75rem center;
  border: 2px solid #bf0000;
}
.libraries-container .gridView {
  background-image: url("../svg/grid.svg");
}

.libraries-container .listView {
  background-image: url("../svg/list.svg");
}

.libraries-content {
  margin-top: 5px;
}

.libraries-content-header {
  width: 100%;
}

.libraries-content-header :not(:last-child) {
  border-right: 1px solid #fff;
}

.colheader {
  background-color: #000;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px;
}
.list .title {
  flex-grow: 4;
}

.list .subtitle {
  flex-grow: 4;
}

.list .series {
  flex-grow: 2;
}

.list .genre {
  flex-grow: 1;
}

.list .status {
  flex-grow: 1;
}

.list .item-added {
}

.list .actions {
}

.item-image {
  position: relative;
}

.item-image a {
  position: absolute;
  display: block;
}

.item-image img {
  max-width: 100%;
  overflow: hidden;
}

.item-detail > * {
  overflow: hidden;
  line-height: 1.2;
}

.item-field.title {
  font-weight: 600;
}

.item-field.subtitle,
.item-field.authors,
.item-field.series {
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.item-field.title a {
  color: #0d0d0d;
}

.item-field.subtitle a {
  color: #595959;
}

.item-bar {
  border-bottom: 1px solid #595959;
  position: relative;
}

.item-status {
  font-size: 0.875rem;
  line-height: 2rem;
}

.item-action {
  padding: 0 3px;
  position: relative;
  z-index: 100;
}

.item-action > :first-child {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: space-evenly;
  width: 2rem;
  height: 2rem;
}

.item-action > :first-child :not(:last-child) {
  margin: 0 3px 0 0;
}

.item-action-dot {
  margin: 0px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #595959;
}

.item-actionItems {
  display: none;
  background-color: #fff;
  margin-bottom: 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.item-actionItems li {
  border-top: 1px solid #d8d8d8;
  padding: 3px 0;
  font-size: 0.875rem;
  line-height: 2rem;
}

.item-actionItems a {
  padding: 0 10px;
  display: block;
  color: #595959;
  text-decoration: none;
}

.item-actionItems a:hover {
  background-color: #ededed;
  color: #bf0000;
}

/* checktest */
input[id^="menu-ctl"] {
  display: none;
}

input[id^="menu-ctl"]:checked ~ .item-actionItems {
  display: block;
}

input[id^="menu-ctl"]:checked + .wrap label[for^="menu-ctl"] span {
  background-color: #bf0000;
}

@media screen and (max-width: 568px) {
  /* x <= 568px */

  .libraries-control {
    display: none;
  }

  .libraries-content-header {
    display: none;
  }

  .libraries-item {
    margin-bottom: 20px;
    padding-top: 5px;
    width: 100%;
  }

  .item-card {
    width: 100%;
  }

  .libraries-container .item-detail {
    margin-bottom: 10px;
  }

  .item-detail {
    min-height: 150px;
  }

  .item-detail::after {
    content: "";
    display: block;
    clear: both;
  }

  .item-image {
    width: 90px;
    height: 150px;
    float: left;
    margin-right: 10px;
  }

  .item-image a {
    top: 0;
  }

  .item-detail > * {
    margin-bottom: 2px;
    padding: 0px 0 5px 5px;
  }
  .item-field.title {
    font-size: 0.875rem;
  }

  .item-field.subtitle,
  .item-field.authors,
  .item-field.series {
    font-size: 0.75rem;
  }

  .item-field.authors a,
  .item-field.series a {
    color: #bf0000;
  }
  .item-added,
  .item-field.genre {
    display: none;
  }
  .item-actionItems {
    padding: 2rem 0.5rem 0 0.5rem;
    position: relative;
    margin-top: -2rem;
  }
}

@media screen and (min-width: 569px) {
  /* x >= 569px */

  /* libraries list viewer */
  .libraries-content.list .libraries-item {
    padding: 0;
  }

  .list .libraries-content-header {
    display: flex;
  }

  .libraries-content.list .item-card {
    max-width: 100%;
  }

  .libraries-content.list .item-image {
    display: none;
  }

  .libraries-content.list .libraries-item {
    width: 100%;
  }

  .libraries-content.list .item-info {
    display: flex;
    flex-direction: row;
  }

  .libraries-content.list .item-bar {
    order: 0;
  }

  .libraries-content.list .item-detail {
    display: flex;
  }

.list .item-added {
    display: block;
  }
  
  .list .genre {
    display: block;
  }
  
  /* libraries grid viewer */
  .grid .item-added {
    display: none;
  }
  
  .grid .genre {
    display: none;
  }
  
  .grid .libraries-content-header {
    display: none;
  }








  .libraries-items {
    display: flex;
    flex-wrap: wrap;
  }

  .libraries-item {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }

  .item-card {
    max-width: 180px;
    margin: auto;
    width: 100%;
  }

  .item-image {
    max-width: 180px;
    height: 300px;
  }

  .item-image:hover img {
    filter: brightness(0.8);
  }

  .item-image a {
    bottom: 0;
  }

  .item-info {
    display: flex;
    flex-direction: column;
  }

  .item-field.title {
    font-size: 1rem;
  }

  .item-field.subtitle,
  .item-field.authors,
  .item-field.series {
    font-size: 0.875rem;
  }

  .item-bar {
    order: -1;
  }

  .item-actionItems {
    padding: 2rem 0.5rem 0 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .item-field.authors a,
  .item-field.series a {
    color: black;
  }
}

@media screen and (max-width: 880px) {
  /* x <= 880px */
  .libraries-container {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media screen and (min-width: 569px) and (max-width: 880px) {
  /* 569px <= x <= 880px */
  /*三欄*/
  /* .libraries-item {
    margin-bottom: 20px;
    padding-top: 5px;
    width: 33.333333%;
    padding-left: calc((33.333333% - 180px)/2);
    padding-right: calc((33.333333% - 180px)/2);
  }
} */
  .libraries-item {
    width: 33.333333%;
  }

  .list .series {
    display: none;
  }
}

@media screen and (min-width: 881px) {
  /* x >= 881px */
  /*四欄*/
  .libraries-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .libraries-item {
    width: 25%;
  }

  .item-field.title {
    font-size: 1rem;
  }

  .item-field.subtitle,
  .item-field.authors,
  .item-field.series {
    font-size: 0.875rem;
  }
}
