/* COMMON */

ul {
  list-style: none;
}

/* #region 麵包屑 */
.breadcrumb-wrap {
  font-size: 0.875rem;
}
.breadcrumb-small > .breadcrumb-item:first-child:before {
  content: "<";
}
/* #endregion 麵包屑 */

/* 書籍分類頁容器ˇ*/
.categories-detail-container > * {
  margin: auto;
  width: 100%;
}

.categories-detail-top,
.categories-detail-bottom {
  max-width: 1140px;
}

/*#region carousel */

.carousel {
  padding: 10px 30px;
  font-size: 0.875rem;
}

.carousel-badge {
  margin: 20px 3% 10px 3%;
}

.carousel-badge :first-child {
  background-color: #006265;
  color: #fff;
  padding: 3px 6px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
}

.carousel-header .carousel-header-title {
  font-size: 1.375rem;
}

.carousel-header-title a {
  text-decoration: none;
}

.view-all a {
  text-decoration: underline;
  font-weight: 600;
}

.carousel-header a {
  color: #000;
}

.owl-carousel > .owl-nav button {
  position: absolute;
  top: 0;
  bottom: 0;
}

.owl-carousel > .owl-nav button.owl-prev span,
.owl-carousel > .owl-nav button.owl-next span {
  font-size: 60px;
}

.owl-carousel .owl-nav button:hover span {
  color: #bf0000;
}

.owl-carousel > .owl-nav button.owl-prev {
  left: -25px;
}

.owl-carousel > .owl-nav button.owl-next {
  right: -25px;
}

.owl-carousel > .owl-nav button[class*="disabled"] {
  display: none;
}

/* #endregion carousel */

/* #region 書籍分類頁的子分類內容*/

.categories-content-wrap {
}

/* boot-item */
.book-item {
  font-size: 0.875rem;
  max-width: 140px;
  margin: auto;
}

.book-item-body a {
  display: block;
}

.book-item-img {
  /* width: 140px; */
  width: 100%;
  height: 0;
  padding-bottom: 157.142857%;
  /* height: 220px; */
  position: relative;
}

.book-item-img img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0 -1px 0 #d8d8d8) drop-shadow(0 1px 0 #d8d8d8)
    drop-shadow(-1px 0 0 #d8d8d8) drop-shadow(1px 0 0 #d8d8d8);
}

.book-item-details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.detail-list {
  overflow: hidden;
  height: 1.125rem;
  margin: 3px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.detail-list.title {
  color: #000;
  font-weight: 400;
}

.detail-list.authors {
  color: #595959;
}

.detail-list.rate {
  font-size: 0px;
  text-decoration: none;
}

.detail-list.rate .star {
  margin: 0 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  /* background-size: contain; */
  white-space: nowrap;
}

/* #region rate star */
/* rate:5.0 */
.detail-list.rate.star-rate-5 .star:nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

/* rate:4.5 */
.detail-list.rate.star-rate-4-5 .star:nth-child(-n + 4) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-4-5 .star:nth-child(5) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

/* rate:4.0 */
.detail-list.rate.star-rate-4 .star:nth-child(-n + 4) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-4 .star:nth-child(5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:3.5 */
.detail-list.rate.star-rate-3-5 .star:nth-child(-n + 3) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-3-5 .star:nth-child(4) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

.detail-list.rate.star-rate-3-5 .star:nth-child(5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:3.5 */
.detail-list.rate.star-rate-3-5 .star:nth-child(-n + 3) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-3-5 .star:nth-child(4) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

.detail-list.rate.star-rate-3-5 .star:nth-child(5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:3.0 */
.detail-list.rate.star-rate-3 .star:nth-child(-n + 3) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-3 .star:nth-child(n + 4):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:2.5 */
.detail-list.rate.star-rate-2-5 .star:nth-child(-n + 2) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-2-5 .star:nth-child(3) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

.detail-list.rate.star-rate-2-5 .star:nth-child(n + 4):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:2.0 */
.detail-list.rate.star-rate-2 .star:nth-child(-n + 2) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-2 .star:nth-child(n + 3):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:1.5 */
.detail-list.rate.star-rate-1-5 .star:nth-child(1) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-1-5 .star:nth-child(2) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

.detail-list.rate.star-rate-1-5 .star:nth-child(n + 3):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:1.0 */
.detail-list.rate.star-rate-1 .star:nth-child(1) {
  background-image: url("/projectEva/categories/images/rate/star-full.svg");
}

.detail-list.rate.star-rate-1 .star:nth-child(n + 2):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:0.5 */
.detail-list.rate.star-rate-0-5 .star:nth-child(1) {
  background-image: url("/projectEva/categories/images/rate/star-half.svg");
}

.detail-list.rate.star-rate-0-5 .star:nth-child(n + 2):nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}

/* rate:0.0 */
.detail-list.rate.star-rate-0 .star:nth-child(-n + 5) {
  background-image: url("/projectEva/categories/images/rate/star-empty.svg");
}
/* #endregion rate star */

.detail-list.price {
  color: #000;
  font-weight: 600;
}

.add-to-cart {
  /* font-size: 0.875rem; */
  color: #fff;
  background-color: #595959;
  padding: 5px 7px;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  border: 3px solid #595959;
  transition: 0.2s;
}

/* #endregion 書籍分類頁的子分類內容*/

/* 手機 */
/* x <= 568px */
@media screen and (max-width: 568px) {
  /* #region 麵包屑 */
  .breadcrumb:not(.breadcrumb-small) {
    display: none;
  }
  /* #endregion 麵包屑 */

  /* #region 書籍分類頁的子分類內容*/
  /* boot-item */
  .book-item {
    font-size: 0.75rem;
  }
  .detail-list.title {
    font-size: 0.75rem;
  }

  /* #endregion 書籍分類頁的子分類內容*/
}

/* 平板以上 */
/* x >= 569px */
@media screen and (min-width: 569px) {
  /* #region 麵包屑 */
  .breadcrumb-small {
    display: none;
  }
  /* #endregion 麵包屑 */

  /* #region 書籍分類頁的子分類內容*/
  .book-item {
    font-size: 0.875rem;
  }

  .book-item-body:hover img {
    filter: brightness(0.8);
  }

  .book-item-body:hover a {
    text-decoration: none;
  }

  .detail-list.title {
    font-size: 0.875rem;
  }

  .detail-list {
  }

  .add-to-cart:hover {
    background-color: #fff;
    color: #000;
  }

  /* #endregion 書籍分類頁的子分類內容*/
}

/* 平板 */
/* 569px <= x <= 880px */
@media screen and (min-width: 569px) and (max-width: 880px) {
}

/* 桌機 */
/* x >= 881px */
@media screen and (min-width: 881px) {
  /* #region 書籍分類頁的子分類內容*/

  /* #endregion 書籍分類頁的子分類內容*/
}
