<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <!-- <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <!-- <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- Load Quill stylesheet -->
    <!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css"
        integrity="sha512-/FHUK/LsH78K9XTqsR9hbzr21J8B8RwHR/r8Jv9fzry6NVAOVIGFKQCNINsbhK7a1xubVu2r5QZcz2T9cKpubw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="./Assets/css/productadd.css">


    <title>SB Admin 2 - Blank</title>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item active" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <!-- Page Heading -->
                <div class="container-fluid">
                    <div id="productadd" v-cloak>
                        <div class="row">
                            <div class="col-12">
                                <template>
                                    <b-breadcrumb :items="breadCrumbItems"></b-breadcrumb>
                                </template>
                            </div>
                            <div v-if="isPageBusy" class="col-12">
                                <div class="col-12">
                                    <div class="busy text-center text-danger my-2">
                                        <b-spinner class="align-middle"></b-spinner>
                                        <strong>Loading...</strong>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!isPageBusy" class="w-100">
                                <div class="col-12">
                                    <b-row>
                                        <b-col lg="3" class="my-1 ml-auto d-flex align-content-center">
                                            <div class="checkboxOnSale">
                                                <b-form-checkbox switch size="lg" v-model="inputData.onSale">
                                                    立即上架
                                                </b-form-checkbox>
                                            </div>
                                            <b-button-group size="md" class="d-flex justify-content-end flex-grow-1">
                                                <span class="flex-grow-1" tabindex="0" v-b-tooltip.top
                                                    :title="allValidation.errorMsg">
                                                    <b-button variant="success" :disabled="allValidation.error"
                                                        class="w-100" v-on:click="ProudctSubmit">
                                                        <b-icon icon="arrow-up-square-fill" aria-hidden="true"></b-icon>
                                                        商品發佈
                                                    </b-button>
                                                </span>
                                            </b-button-group>
                                        </b-col>
                                    </b-row>
                                </div>
                                <div class="col-12">
                                    <b-tabs content-class="pt-2 pb-2 px-2" fill v-model="tabIndex" v-on:changed="tabchange">
                                        <b-tab active>
                                            <template #title>
                                                <b-icon icon="book" aria-hidden="true"></b-icon>
                                                <strong>商品資訊</strong>
                                            </template>
                                            <!-- Main table element -->
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-6 mb-3">
                                                    <label for="">商品名稱</label>
                                                    <input v-model="inputData.productName"
                                                        :class="{'is-invalid':inputDataCheck.productName.error}"
                                                        class="form-control" type="text">
                                                    <div class="text-danger small mt-1">
                                                        {{inputDataCheck.productName.errorMsg}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-3 mb-3">
                                                    <label for="">作者</label>
                                                    <el-select v-model="inputData.authorId" :loading="authorlist.busy"
                                                        :class="{'is-invalid':inputDataCheck.author.error}" filterable
                                                        placeholder="請選擇作者" loading-text="載入中" no-data-text="無資料"
                                                        no-match-text="找不到可匹配的內容" clearable>
                                                        <el-option v-for="item in authorlist.options" :key="item.value"
                                                            :label="item.label" :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                    <div class="text-danger small mt-1">
                                                        {{inputDataCheck.author.errorMsg}}
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 mb-3">
                                                    <label for="">出版社</label>
                                                    <el-select v-model="inputData.publisherId"
                                                        :loading="publisherlist.busy"
                                                        :class="{'is-invalid':inputDataCheck.publisher.error}"
                                                        filterable placeholder="請選擇出版社" loading-text="載入中"
                                                        no-data-text="無資料" no-match-text="找不到可匹配的內容" clearable>
                                                        <el-option v-for="item in publisherlist.options"
                                                            :key="item.value" :label="item.label" :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                    <div class="text-danger small mt-1">
                                                        {{inputDataCheck.publisher.errorMsg}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-3 mb-3">
                                                    <label for="">主分類</label>
                                                    <el-select v-model="inputData.mainCategoryId"
                                                        :class="{'is-invalid':inputDataCheck.mainCategory.error}"
                                                        :loading="mainCategorylist.busy" filterable placeholder="請選擇主分類"
                                                        loading-text="載入中" no-data-text="無資料" no-match-text="找不到可匹配的內容"
                                                        clearable>
                                                        <el-option v-for="item in mainCategorylist.options"
                                                            :key="item.value" :label="item.label" :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                    <div class="text-danger small mt-1">
                                                        {{inputDataCheck.mainCategory.errorMsg}}
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 mb-3">
                                                    <label for="">子分類</label>
                                                    <el-select v-model="inputData.subCategoryId"
                                                        :class="{'is-invalid':inputDataCheck.subCategory.error}"
                                                        :loading="subCategorylist.busy" filterable placeholder="請選擇子分類"
                                                        loading-text="載入中" no-data-text="無資料" no-match-text="找不到可匹配的內容"
                                                        clearable>
                                                        <el-option v-for="item in subCategorylist.options"
                                                            :key="item.value" :label="item.label" :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                    <div class="text-danger small mt-1">
                                                        {{inputDataCheck.subCategory.errorMsg}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-6 d-flex p-0">
                                                    <div class="col-12 col-md-4 mb-3">
                                                        <label for="">語言</label>
                                                        <el-select v-model="inputData.languageId"
                                                            :class="{'is-invalid':inputDataCheck.language.error}"
                                                            :loading="languagelist.busy" filterable placeholder="請選擇語言"
                                                            loading-text="載入中" no-data-text="無資料"
                                                            no-match-text="找不到可匹配的內容" clearable>
                                                            <el-option v-for="item in languagelist.options"
                                                                :key="item.value" :label="item.label"
                                                                :value="item.value">
                                                            </el-option>
                                                        </el-select>
                                                        <div class="text-danger small mt-1">
                                                            {{inputDataCheck.language.errorMsg}}
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 mb-3">
                                                        <label for="">ISBN</label>
                                                        <input v-model="inputData.ISBN"
                                                            :class="{'is-invalid':inputDataCheck.ISBN.error}"
                                                            class="form-control" type="text">
                                                        <div class="text-danger small mt-1">
                                                            {{inputDataCheck.ISBN.errorMsg}}
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4 mb-3">
                                                        <label for="">定價</label>
                                                        <input v-model="inputData.price" class="form-control"
                                                            type="number" min="0">
                                                        <div class="text-danger small mt-1">
                                                            {{inputDataCheck.price.errorMsg}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-6 mb-3">
                                                    <label for="">檔案上傳</label>
                                                    <b-form-file v-model="inputData.file"
                                                        :state="Boolean(inputData.file)"
                                                        placeholder="Choose a file or drop it here..."
                                                        drop-placeholder="Drop file here..."></b-form-file>
                                                    <!-- <div class="mt-3">
                                                        Selected file: {{ inputData.file ? inputData.file.name
                                                        : '' }}
                                                    </div> -->
                                                </div>
                                            </div>                                            
                                            <b-modal :id="progressModal.id" :title="progressModal.title"
                                                header-bg-variant="info" header-text-variant="light" hide-footer
                                                v-on:hidden="resetProgressModal" no-close-on-backdrop no-close-on-esc
                                                hide-header-close>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="text-center">Progress...{{progressModal.description}}
                                                        </p>
                                                        <b-progress :value="progressModal.value"
                                                            :max="progressModal.max" animated></b-progress>
                                                    </div>
                                                </div>
                                            </b-modal>
                                        </b-tab>
                                        <b-tab>
                                            <template #title>
                                                <b-icon icon="images" aria-hidden="true"></b-icon>
                                                <strong>圖片設定</strong>
                                            </template>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-12 col-md-12 col-lg-3">
                                                    <div class="col-12 text-danger small mt-1 text-center">
                                                        {{inputDataCheck.image.errorMsg}}
                                                    </div>
                                                    <div class="mx-auto">
                                                        <input ref="imgFileInput" type="file" id="imgFileInput"
                                                            name="fileUpload" accept="image/png, image/gif, image/jpeg"
                                                            v-on:change="(e)=>ImgFilesInput(e.target.files)" />
                                                        <div ref="imgUploadZone" id="uploadZone"
                                                            v-on:click="ImgUploadZoneClick"
                                                            v-on:dragenter="ImgUploadZoneDragenter"
                                                            v-on:dragover="ImgUploadZoneDragover"
                                                            v-on:dragleave="ImgUploadZoneDragleave"
                                                            v-on:drop="ImgUploadZoneDrop" :class="{'bg-info':!imgFileUpload.isDragEnter,
                                                            'bg-secondary':imgFileUpload.isDragEnter,}">
                                                            <b-icon icon="cloud-arrow-up-fill" aria-hidden="true"
                                                                font-scale="5"></b-icon>
                                                            <span>請將圖片拖曳至此區塊</span>
                                                            <span>或是</span>
                                                            <span>點擊此區塊開啟檔案視窗</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-show="imgFileUpload.isValid"
                                                    class="col-sm-12 col-md-12 col-lg-3">                                                    
                                                    <b-img-lazy id="img" v-bind="productimgProps" :src="imgFileUpload.imageInfo.data"
                                                        class="" thumbnail center>
                                                    </b-img-lazy>
                                                    <b-tooltip target="img" placement="bottom"
                                                        custom-class="d-flex justify-content-start">
                                                        <p class="m-0">檔案大小：{{imgFileUpload.imageInfo.size}}KB</p>
                                                        <p class="m-0">
                                                            檔案尺寸：{{imgFileUpload.imageInfo.width}} x
                                                            {{imgFileUpload.imageInfo.height}}
                                                        </p>
                                                    </b-tooltip>
                                                </div>                                                
                                            </div>
                                        </b-tab>
                                        <b-tab>
                                            <template #title>
                                                <b-icon icon="card-text" aria-hidden="true"></b-icon>
                                                <strong>簡介設定</strong>
                                            </template>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="description-editor-wrap"
                                                        :class="{'is-invalid':inputDataCheck.description.error}">
                                                        <div class="text-danger small mt-1">
                                                            {{inputDataCheck.description.errorMsg}}
                                                        </div>
                                                        <div id="description-editor">
                                                            <p>請在這裡編輯商品簡介</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-tab>
                                    </b-tabs>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->

    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
        integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- Axios plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>

    <!-- mountjs plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Quill plugin  -->
    <!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"
        integrity="sha512-P2W2rr8ikUPfa31PLBo5bcBQrsa+TNj8jiKadtaIrHQGMo6hQM6RdPjQYxlNguwHz8AwSQ28VkBK6kHBLgd/8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./Assets/js/aspnet/signalr/dist/browser/signalr.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="./Assets/js/helpers.js"></script>
    <script src="./Assets/js/productadd.js"></script>

</body>

</html>