/* Common */
[v-cloak] {
  display: none;
}
/* 麵包屑組件 */
.breadcrumb {
  padding: 0 0 0 0px;
  background-color: transparent;
  font-size: 0.875rem;
}

.breadcrumb-item > a {
  color: #000;
}

/* 分頁 */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #28a745;
}

/* 分頁的內容框 */
#productadd .tab-content {
  background-color: #fff;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}


.busy {
    opacity: 0.6;
}

/* 發佈後立即上架區塊 */
.checkboxOnSale {
  padding: 0.375rem 12px;
}

.checkboxOnSale .custom-control .custom-control-label {
  line-height: 1.5rem;
  font-size: 1rem;
}

.checkboxOnSale .custom-control .custom-control-label::before {
  top: 0.25rem;
}

.checkboxOnSale .custom-control .custom-control-label::after {
  top: calc(0.25rem + 2px);
}

/* ElementUI Select 組件 */

/* el-select 驗證成功 */
#productadd .el-select.is-valid .el-input__inner {
  border-color: #28a745;
}

/* el-select 驗證失敗 */
#productadd .el-select.is-invalid .el-input__inner {
  border-color: #dc3545;
}

#productadd .el-select {
  display: block;
}

#productadd .el-select .el-input__inner:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

#productadd .el-select.is-invalid .el-input__inner:focus {
  background-color: #fff;
  border-color: #dc3545;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}

/* 富文本編輯器區塊 */
.description-editor-wrap.is-invalid .ql-toolbar,
.description-editor-wrap.is-invalid #description-editor
{
  border-color: #dc3545;
}



#description-editor.ql-container {
  height: 600px;
}


#uploadZone {
  width: 240px;
  height: 340px;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}
#uploadZone > div {
  overflow: hidden;
  position: relative;
}

#uploadZone img {
  /*max-width: 100%;*/
  /* height: 100%; */
  /* position: absolute; */
  /* min-height: 280px; */
  max-width: 300px;
}

#imgFileInput {
  display: none;
}
