/* Common */
[v-cloak] {
  display: none;
}

/* Busy table styling */
table.b-table[aria-busy="true"] {
  opacity: 0.6;
}

/* 麵包屑組件 */
.breadcrumb {
  padding: 0 0 0 0px;
  background-color: transparent;
  font-size: 0.875rem;
}

.breadcrumb-item > a {
  color: #000;
}

/* 商品清單的圖片格式 */
#productlist .pdlistimg {
  max-height: 60px;
  max-width: 60px;
}

/* 商品清單的分頁 */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #28a745;
}

/* 商品清單分頁的內容框 */
#productlist .tab-content {
  background-color: #fff;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

/* 商品明細 */

#product-details-modal .busy {
  opacity: 0.6;
}

/* 商品明細的Modal */
#product-details-modal .modal-dialog {
}

.details-body {
  font-size: 16px;
}

/* 商品明細的圖片格式 */
.details-body .pddetailsimg {
  min-height: 280px;
  max-width: 240px;
}

.details-body .field .title {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid #dee2e6;
}

.details-body .field .content {
  padding-left: 1rem;
  word-break: break-all;
}

/* --------------------------- */
/* 發佈後立即上架區塊 */
.checkboxOnSale{
  padding: .375rem 12px;
}

.checkboxOnSale .custom-control .custom-control-label{
  line-height: 1.5rem;
  font-size: 1rem;
}

.checkboxOnSale .custom-control .custom-control-label::before{
  top:0.25rem;
}

.checkboxOnSale .custom-control .custom-control-label::after{
  top:calc( .25rem + 2px)
}

#description-editor.ql-container {
  height: 600px;
}

#uploadZone {
  width: 240px;
  height: 340px;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}
#uploadZone > div {
  overflow: hidden;
  position: relative;
}

#uploadZone img {
  /*max-width: 100%;*/
  /* height: 100%; */
  /* position: absolute; */
  /* min-height: 280px; */
  max-width: 300px;
}

#imgFileInput {
  display: none;
}
